#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #b1c0c4;
}

#banner a {
    position: absolute;
    left: 15px;
    width: 30px;
    color: black;
}

#banner a:hover {
    color: white;
}

.material-symbols-outlined {
    display: inline-flex;
    vertical-align: top;
}

#main-table {
    display: flex;
    justify-content: center;
}

table {
    margin-top: calc(2em + 50px);
    border-collapse: collapse;
}

td, th {
    border: 1px solid #555;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #b1c0c4;
}

td.lang {
    width: 20vw;
}

td a {
    color: blue;
}

td a:hover {
    color: black;
}

td a:active {
    color: blue;
}
