html {
    text-align: center;
    font-family: Yu Gothic;
}

#characters-list {
    margin-top: 3em;
    margin-bottom: 25em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#characters-list img {
    width: 150px;
    border-radius: 25px;
    border: 1px solid grey;
    margin: 3px;
}

table {
    margin-top: 2em;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #555;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #b1c0c4;
}

td.lang {
    width: 20vw;
}
