#characters-list {
    margin-top: 3em;
    margin-bottom: 25em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#characters-list img {
    width: 150px;
    height: 150px;
    border-radius: 25px;
    border: 1px solid grey;
    margin: 3px;
}