<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Asasuzume</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta property="og:title" content="Asasuzume"/>
        <meta property="og:description" content="Mahjong Soul Assets"/>

        {% for elem in css %}
        <link rel="stylesheet" type="text/css" href="css/{{ elem }}.css"/>
        {% endfor %}

        {% for elem in js %}
        <script src="js/{{ elem }}.js"></script>
        {% endfor %}

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    </head>
    <body>
    {% block content %}{% endblock %}
    </body>
</html>